.box-container{
    border: 1px solid black;
    height: 50vh;
}
#box-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    width: 150px;
    height: 150px;
    background-color: rgba(248, 188, 22, 0.8);
    border: 2px solid gray;
    transition: 0.7s;
    transition: 3s linear;
    transition: 3s cubic-bezier(0.49, 0.54, 0, 1.35);
    
}
.box:hover {
    transform: scale(2);
    transform: rotate(45deg);   /*deg:각도*/
    transform: skew(30deg);
    transform: skewY(30deg);
    transform: translateX(100px);   /*왼쪽으로 이동*/
    transform: translate(50px, 100px);
    
    transform: scale(1.5) rotate(30deg);    /*여러개 사용 가능*/

    transform-origin: left top; /*왼쪽 위를 기준으로 삼겠다.*/
    transform-origin: right bottom;
    background-color: rgba(192, 121, 14, 0.87);
}

 /* animation */
#box-container2 {
    width: 1200px;
    height: 600px;
}
.animation-box {
    width: 200px;
    height: 200px;
    background-color: indianred;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

    /*alternate: 다시 돌아옴*/
    animation: boxAni 3s linear  infinite alternate;
    /*reverse: 거꾸로 시작*/
    animation: boxAni 3s linear  infinite reverse;
    
    animation: boxAni 3s linear  infinite alternate-reverse;

    animation: boxAni 3s linear  forwards;  /*100%해당하는 위치에서 끝내기*/
   
}

.animation-box:hover {
    animation-play-state: paused; /*마우스가 올라가면 동작 멈춤 */
}

@keyframes boxAni {
    0% {
        transform: translate(0,0); /*시작점*/
    }
    70%{
        transform: translate(1000px,0);
    }
    100%{
        transform: translate(1000px,400px);
    }
}